*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/AzureRecorder/.vs/AzureRecorder/DesignTimeBuild/.dtbcache.v2
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/5226a570-0898-417d-84c9-774a80b0326a.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/70045b2a-e81f-467c-af02-c1b3d9ec0209.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/read.lock
/AzureRecorder/.vs/AzureRecorder/v17/.futdcache.v2
/AzureRecorder/.vs/ProjectEvaluation/azurerecorder.metadata.v5
/AzureRecorder/.vs/ProjectEvaluation/azurerecorder.projects.v5
/AzureRecorder/.vs/AzureRecorder/DesignTimeBuild/.dtbcache.v2
/AzureRecorder/.vs/AzureRecorder/DesignTimeBuild/.dtbcache.v2
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/52ec6edd-5a3e-41e7-b9a0-72c57d1669f9.vsidx
