*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/AzureRecorder/.vs/*
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/5226a570-0898-417d-84c9-774a80b0326a.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/70045b2a-e81f-467c-af02-c1b3d9ec0209.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/read.lock
/AzureRecorder/.vs/AzureRecorder/v17/.futdcache.v2
/AzureRecorder/.vs/ProjectEvaluation/azurerecorder.metadata.v5
/AzureRecorder/.vs/ProjectEvaluation/azurerecorder.projects.v5
/AzureRecorder/.vs/AzureRecorder/DesignTimeBuild/.dtbcache.v2
/AzureRecorder/.vs/AzureRecorder/DesignTimeBuild/.dtbcache.v2
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/52ec6edd-5a3e-41e7-b9a0-72c57d1669f9.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/657bdd4c-fc23-4499-b8c8-94c3641d79a4.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/6865fecd-df1e-420e-99f0-3bb132f90c23.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/6a8a4a06-9340-41c5-ae15-b558be0a2f2e.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/78b70fc0-6aad-408a-ada9-a38e09636956.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/97e0ebe0-496e-4438-90db-2357f7d95d75.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/cb9e6436-9b74-458b-8022-f4ce11f7f2da.vsidx
/AzureRecorder/.vs/AzureRecorder/FileContentIndex/cd1ed923-b56d-4d63-b3df-7dcfa25ae74b.vsidx
/AzureRecorder/.vs/AzureRecorder/DesignTimeBuild/.dtbcache.v2
/AzureRecorder/.vs/ProjectEvaluation/azurerecorder.metadata.v2
/AzureRecorder/.vs/ProjectEvaluation/azurerecorder.projects.v2
/AzureRecorder/.vs/AzureRecorder/DesignTimeBuild/.dtbcache.v2
/AzureRecorder/.vs/AzureRecorder/DesignTimeBuild/.dtbcache.v2
/AzureRecorder/.vs/ProjectEvaluation/azurerecorder.metadata.v2
/AzureRecorder/.vs/ProjectEvaluation/azurerecorder.projects.v2
